.buttonContainer {
  background-color: #fff;
  border-radius: 25px;
}

.button {
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: hsl(180, 66%, 49%);
  border: none;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}
