.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 5rem;
  overflow: hidden;
}

.heroContainer {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* position: relative; */
}

.heroTextWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 550px;
}

.heroTextWrap h1 {
  font-size: 3.75rem;
  line-height: 1.15;
  color: hsl(257, 27%, 26%);
}

.heroTextWrap p {
  color: hsl(0, 0%, 75%);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.heroImgWrap {
  position: relative;
  right: -5rem;
  width: 120%;
}

.heroImgWrap img {
  height: auto;
  width: 100%;
}

/* first breakpoint at 835px? */

@media screen and (max-width: 880px) {
  .heroContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .heroImgWrap {
    width: 80%;
  }
  .heroTextWrap {
    max-width: 600px;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .heroTextWrap {
    max-width: 500px;
  }
  .heroTextWrap h1 {
    font-size: 2.5rem;
  }

  .heroTextWrap p {
    font-size: 1rem;
  }
}
