.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 20px;
  background: #eff1f7;
}

.statsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.statsTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  max-width: 520px;
  text-align: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.statsTextWrap h3 {
  font-size: 2.25rem;
  color: hsl(257, 27%, 26%);
}

.statsTextWrap p {
  color: hsl(257, 7%, 63%);
}

.dataWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.dataWrap div:nth-child(3) {
  margin-top: 4rem;
}

.dataWrap div:nth-child(4) {
  margin-top: 8rem;
}

.line {
  position: absolute;
  width: 80%;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  background-color: hsl(180, 66%, 49%);
  height: 0.5rem;
}

@media screen and (max-width: 880px) {
  .statsTextWrap {
    margin-bottom: 2rem;
  }
  .dataWrap {
    flex-direction: column;
    gap: 5rem;
  }

  .dataWrap div:nth-child(3) {
    margin-top: 0;
  }

  .dataWrap div:nth-child(4) {
    margin-top: 0;
  }

  .line {
    height: 100%;
    width: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .statsTextWrap h3 {
    font-size: 1.75rem;
  }

  .statsTextWrap p {
    font-size: 0.9rem;
  }
}
