.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -3.5rem;
  padding: 5rem 20px;
  /* background: rgba(158, 154, 167, 0.3); */
  background: rgba(191, 191, 191, 0.2);
}

.statsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.statsTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  max-width: 520px;
  text-align: center;
  justify-content: space-between;
}

.statsTextWrap h3 {
  font-size: 2rem;
  color: hsl(257, 27%, 26%);
}

.statsTextWrap p {
  color: hsl(257, 7%, 63%);
}

.dataWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  width: 80%;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  background-color: hsl(180, 66%, 49%);
  height: 0.5rem;
}
